<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Module</title>
  <link rel="stylesheet" href="/add-submodule.css">
</head>
<body>

 <!-- Navbar -->
 <nav class="navbar">
  <div class="navbar-container">
      <div class="logo"><a href="/">EduTrack Admin</a></div>
      <ul class="nav-links">
          <li><a href="/admin">Dashboard</a></li>
          <li><a href="/course">Add Course</a></li>
          <li><a href="/manage-courses">Manage Courses</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
  </div>
</nav>
  <!-- Add Course Page -->
  <section class="register-page"> <!-- Reusing layout from register/login -->
    <div class="form-container">
      <h2>Add Sub Module</h2>
      <form class="register-form" action="/submodule" method="POST" enctype="multipart/form-data">
        
        <div class="form-group">
          <label for="name">SubModule Name</label>
          <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
          <label for="duration">notes</label>
          <input type="file" id="duration" name="notes" required>
        </div>

        <div class="form-group">
            <label for="duration">video</label>
            <input type="file" id="duration" name="video" required>
        </div>

        <div class="form-group">
          <label for="fees">select module</label>
          <select name="mid" id="">
            
            <option value=<%=m.mid%>><%=m.name%></option>
            
          </select>
        </div>

        

        <button type="submit" class="btn">Add Module</button>

      </form>
    </div>
  </section>
  <%- include("footer") %>
</body>
</html>


  