/* GLOBAL */

body{
font-family:'Segoe UI',sans-serif;
background:#111;
color:white;
margin:0;
}

.container{
max-width:1200px;
margin:auto;
padding:20px;
}

/* HERO */

.hero{
padding:100px 20px;
text-align:center;
background:linear-gradient(180deg,#111,#1a1a1a);
}

.hero-title{
font-size:48px;
color:#ff9800;
font-weight:bold;
}

.hero-text{
color:#ccc;
max-width:600px;
margin:20px auto;
font-size:18px;
}

/* BUTTONS */

.btn-main{
background:#ff9800;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
color:white;
font-weight:500;
display:inline-block;
transition:0.3s;
}

.btn-main:hover{
background:#e68900;
}

/* SECTION TITLES */

.section-title{
color:#ff9800;
font-weight:bold;
margin-bottom:30px;
}

/* FEATURES SECTION */

.features{
background:#111;
padding:70px 0;
}

.feature-card{
background:#1b1b1b;
padding:30px;
border-radius:10px;
border:1px solid #333;
color:white;
text-align:center;
transition:0.3s;
}

.feature-card h4{
color:#ff9800;
margin-bottom:10px;
}

.feature-card p{
color:#ccc;
}

.feature-card:hover{
transform:translateY(-6px);
border-color:#ff9800;
box-shadow:0 0 10px rgba(255,152,0,0.4);
}

/* COURSES SECTION */

.courses{
background:#111;
padding:70px 0;
}

.course-card{
background:#1b1b1b;
padding:25px;
border-radius:10px;
border:1px solid #333;
transition:0.3s;
}

.course-card h5{
color:#ff9800;
}

.course-card p{
color:#bbb;
}

.course-card:hover{
transform:translateY(-6px);
border-color:#ff9800;
box-shadow:0 0 10px rgba(255,152,0,0.4);
}

/* OUTLINE BUTTON */

.btn-outline{
border:1px solid #ff9800;
color:#ff9800;
padding:6px 15px;
text-decoration:none;
border-radius:5px;
display:inline-block;
margin-top:10px;
transition:0.3s;
}

.btn-outline:hover{
background:#ff9800;
color:white;
}

/* ABOUT */

.about{
padding:60px 20px;
background:#151515;
text-align:center;
}

.about-text{
max-width:700px;
margin:auto;
color:#bbb;
font-size:17px;
}